/* BASIC STYLES HERE */
.h-90 {
  height: 90vh;
}

.w-100 {
  width: 100%;
}

.jot-list {
  overflow-y: auto;
}

.body-preview {
  opacity: .8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.ribbon {
  max-width: 1.75em;
  max-height: 75%;
}

.mdi-delete {
  color: #890012;
}

.border-red {
  border-color: #890012;
}